* {
  margin: 0;
}
.container {
    height: 6.5em;
    weight: 100%;
    position: relative;
    background-color: black;
    display: flex;
}
.container a {
  margin-top: 46px;
  top: 50%;
  color: white;
  margin-left: 30px;
  font-size: 90%;
  text-decoration: none;
  font-family: 'Comfortaa';
}
.temp {
  margin-left: 25px;
}
.empty {
  width: 65%;
}
.heading1 h1 {
  font-size: 300%;
  text-align: center;
  color: #008080;
  font-family: 'Lato', sans-serif;
  margin-top: 150px;
  margin-bottom: 50px;
}
.content1 {
  width: 90%;
  height: 20vh;
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}
.content1 p {
  text-align: center;
  font-size: 140%;
  font-family: 'Cabin', sans-serif;
}
.content2 {
  width: 90%;
  height: 180px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.card {
  width: 500px;
  height: 100px;
  display: flex;
}
.card img {
  margin-top: 25px;
  margin-right: 10px;
}
.card p {
  text-align: left;
  font-size: 120%;
  font-family: 'Cabin', sans-serif;
  margin: auto;
}
.empty2 {
  width: 100px;
}
