* {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #303030;
}
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}
.page1 {
  width: 100%;
  background: url(image/fone5.jpg);
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  padding: 10% 0 10% 0;
  height: 50vh;
}
.page1 h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  margin: 20vh 0 0 0;
  font-family: Ubuntu, sans-serif;
}
.page2 {
  width: 100%;
  background: url(image/fone10.jpg);
  /* background-attachment: fixed; */
  background-size: auto 100%;
  background-position: center;
  padding: 10% 0 10% 0;
}
.page2 h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
}
.page2 h4 {
  background-color: white;
  margin: 5% 5% 10% 5%;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}
.image1 {
  width: 100%;
  height: 500px;
  background: url(image/element1.jpg) no-repeat;
  background-size: 90%;
  overflow: auto;
}
